<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.crudfirebase">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.project.crudfirebase.About"
            android:parentActivityName="com.project.crudfirebase.MainFeed"></activity>
        <activity android:name="com.project.crudfirebase.MyQuestion" />
        <activity android:name="com.project.crudfirebase.QuestionListFragment" />
        <activity android:name="com.project.crudfirebase.DynamicFragmentAdapter" />
        <activity android:name="com.project.crudfirebase.MyListDataFragment" />
        <activity android:name="com.project.crudfirebase.HomeFragment" />
        <activity android:name="com.project.crudfirebase.LoginActivity" />
        <activity android:name="com.project.crudfirebase.SignupActivity" />
        <activity android:name="com.project.crudfirebase.forgotpassword"
            android:parentActivityName=".LoginActivity"/>
        <activity android:name="com.project.crudfirebase.forgotpassword2" />
        <activity
            android:name="com.project.crudfirebase.ViewQuestion"
            android:parentActivityName="com.project.crudfirebase.MainFeed" />
        <activity android:name="com.project.crudfirebase.MainFeed" />
        <activity android:name="com.project.crudfirebase.SplashScreen"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>